.quoteBox {
  width: 55vw;
  height: 55vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3.5rem;
}

/* quotation mark */
.quotationImage,
.quotationImageRotated {
  width: 15%;
  height: auto;
  opacity: 0.35;
  position: absolute;
  padding: 15px;
  margin: 1.5rem;
}

.quotationImage {
  top: 0;
  left: 0;
}

.quotationImageRotated {
  transform: rotate(180deg);
  bottom: 0;
  right: 0;
  position: absolute;
}

/* text */
.quoteText,
.authorText {
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
}

/* media queries */
@media screen and (max-width: 918px) {
  .quoteBox {
    width: 55vw;
    height: 50vh;
  }

  .quoteText {
    font-size: 3.5vw;
  }

  .authorText {
    font-size: 2vw;
  }
}

@media screen and (max-width: 500px) {
  .quoteBox {
    width: 80vw;
    height: 45vh;
  }

  .quotationImage,
  .quotationImageRotated {
    width: 25%;
  }

  .quoteText {
    font-size: 4vw;
  }

  .authorText {
    font-size: 3vw;
  }
}
