.background {
  background-image: url(../../public/school-of-athens-bg-cropped.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.footer {
  margin-top: 20px;
}
