.background {
  background-image: url(../../public/school-of-athens-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.quoteBox {
  background-color: transparent;
}

.footer {
  margin-top: 20px;
}
